{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "Chrome 60",
            "Safari 10.1"
          ]
        },
        "modules": false
      }
    ]
  ]
}
